.wrapper {
    --admin-primary: var(--primary, #6200EE);
    --admin-primary-rgb: var(--primary-rgb, 98, 0, 238);
    --admin-background: var(--background-2, #ddd);
    --admin-color: var(--color, #000);

    --admin-full-height: calc(100svh - var(--header-height));

    display: flex;
    flex-direction: row;

    .navigation {
        display: flex;
        flex-direction: column;
        padding: 2rem 1rem;
        height: var(--admin-full-height);
        width: 200px;
        background: linear-gradient(180deg, var(--admin-primary) 2%, rgba(var(--admin-primary-rgb), .75) 20%);

        .link-btn {
            color: var(--admin-background);
        }

        .active-link {
            border-radius: var(--header-border-radius);
            background: rgba(0, 0, 0, .15);
        }
    }

    .content {
        flex: 1;
    }
}