.mn-input {
    --input-font-size: var(--font-size, 14px);
    --input-border-radius: var(--border-radius, 5px);
    --input-primary: var(--primary, #6200EE);
    --input-primary-rgb: var(--primary-rgb, 98, 0, 238);
    --input-background-2: var(--background-2);
    --input-color: var(--color, #000);

    padding: .25rem .35rem;
    border-radius: var(--input-border-radius);
    font-size: var(--input-font-size);
    background: var(--input-background-2);
    color: var(--input-color);
    outline: 1px solid rgba(var(--input-primary-rgb), .2);

    &::placeholder {
        color: color-mix(in lab, var(--input-color), gray 70%);
    }

    &:focus-visible {
        outline: 2px solid var(--input-primary);
    }
}