.form-field {
    position: relative;
    display: grid;
    grid-template-columns: 18ch auto;

    &::before {
        content: attr(aria-label) ":";
    }

    &[aria-required="true"]::before {
        content: attr(aria-label) ": *";
    }

    span {
        position: relative;
        display: grid;
        grid-template-columns: auto;
    }

    span[aria-errormessage] {
        margin-bottom: 1rem;
        border-radius: var(--border-radius, 5px);
        outline: 1px solid var(--form-error);

        &::after {
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            text-align: center;
            transform: translateY(110%);
            content: attr(aria-errormessage);
            color: var(--form-error);
        }
    }
}