.header-wrapper {
    --header-side-padding: var(--view-side-padding, 2rem);
    --header-border-radius: var(--border-radius, 5px);
    --header-primary: var(--primary, #6200EE);
    --header-primary-rgb: var(--primary-rgb, 98, 0, 238);
    --header-background: var(--background-2, #ddd);
    --header-color: var(--color, #000);
    --header-font-family-2: var(--font-family-2, sans-serif);

    position: fixed;
    top: 0;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: var(--header-height, 5rem);
    padding: .5rem var(--header-side-padding);
    background: var(--header-primary);
    color: var(--header-color);

    .header-left-side {
        display: flex;
        align-items: center;
        gap: 1.5rem;

        .header-app-title {
            font-family: var(--header-font-family-2);
            color: var(--header-background);
        }
    }

    .header-contents {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 2rem;

        .navigation {
            .nav-menu {
                display: none;
            }

            .nav-paths {
                display: flex;
                gap: .4rem;

                .link-btn {
                    font-size: 14.5px;
                    color: var(--header-background);
                }
    
                .active-link {
                    border-radius: var(--header-border-radius);
                    background: rgba(0, 0, 0, .15);
                }
            }
        }
    }
    
    @media (max-width: 650px) {
        .header-left-side {
            .header-logo {
                width: 45px;
            }

            .header-app-title {
                font-size: 1.75em;
            }
        }

        .header-contents {
            gap: .2rem;

            .navigation {
                position: relative;

                .nav-menu {
                    cursor: pointer;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    aspect-ratio: 1;
                    width: 2.5rem;
                    padding: .3rem;
                    border-radius: 50%;
                    color: var(--header-background);
                }
                
                .nav-paths {
                    position: absolute;
                    right: 0;
                    display: none;

                    .link-btn {
                        color: var(--header-color);
                    }
                }

                &:hover {
                    .nav-menu {
                        background: rgba(0, 0, 0, .15);
                    }

                    .nav-paths {
                        display: block;
                        background: var(--header-background);

                        .link-btn {
                            display: flex;
                            width: 100%;
                            border-radius: 0;
                            
                            &:hover {
                                color: var(--header-primary);
                            }
                        }

                        .active-link {
                            all: unset;

                            .link-btn {
                                color: var(--header-primary);
                            }
                        }
                    }
                }
            }
        }
    }
}