.basic-layout,
.centered-layout {
    --layout-full-height: calc(100svh - var(--header-height));
    --layout-color: var(--color, #fff);

    height: var(--layout-full-height);
    padding: 2rem 2rem;
    color: var(--layout-color);

    @media (max-width: 650px) {
        padding: .5rem 1rem;
    }
}

.centered-layout {
    display: flex;
    align-items: center;
    justify-content: center;
}